<div *ngIf="product" class="">
  <div class="bg-gray-200 w-full aspect-square shadow-sm rounded">
    <img class="w-full aspect-square object-contain" [src]="product.image" [alt]="product.title" >
  </div>
  <div class="my-3">
    <h2 class="text-gray-800 text-xl font-semibold">{{ product.title }}</h2>
    <h5 class="text-gray-600 font-medium">{{ product.price | currency }}</h5>
    <p class="text-gray-600 text-sm font-light">{{ product.description }}</p>
  </div>
  <button
    class="bg-lime-500 text-white px-3 py-1.5 rounded text-sm hover:bg-lime-600 transition shadow-lg shadow-lime-500/20"
    (click)="addToCart()">
      Comprar
  </button>
</div>
